name: QA
run-name: Pipeline (QA) executaado pelo ${{ github.actor }}

on:
  workflow_call:
    inputs:
      project_sonar: 
        type: string
        required: true
        description: "Projeto do sonnar que sera analisado"
      file_solution: 
        type: string
        required: true
        description: "Arquivo da solution que sera realido o build do sonar"
    secrets:
      sonar_token:
        required: true
        description: "token do sonar"

jobs:
  testes_unitarios:
    runs-on: ubuntu-latest
    steps:
      - name: "Simulacao testes unitarios"
        run: echo "Implementar testes unitarios"

  testes_integrados:
    runs-on: ubuntu-latest
    steps:
      - name: "Simulacao testes integrados"
        run: echo "Implementar testes integrados"

  sonarqube:
    runs-on: ubuntu-latest
    steps:
      - name: Obtendo arquivos do projeto
        uses: actions/checkout@v4
        
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 9.0.x
          
      - name: Setup Java SDK
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: '21'
          
      - name: Instalacao do sonar qube scanner
        run: dotnet tool install --global dotnet-sonarscanner

      - name: Build e analise sonar
        working-directory: ./src/BoardK8s
        run: |
          dotnet sonarscanner begin /k:"${{ inputs.project_sonar }}" /d:sonar.host.url="${{ vars.SONAR_HOST_URL }}"  /d:sonar.token="${{ secrets.sonar_token }}"
          dotnet build ${{ inputs.file_solution }}
          dotnet sonarscanner end /d:sonar.token="${{ secrets.sonar_token }}"

      - name: Verificacao quality gate
        uses: sonarsource/sonarqube-quality-gate-action@master
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
        with:
          scanMetadataReportFile: ./src/BoardK8s/.sonarqube/out/.sonar/report-task.txt
